Q1.

In [ ]:
n=input("ENTER YOUR NAME:")
r=input("ENTER YOUR ROLL_NO")
m=input("ENTER YOUR MARK")
print("NAME="+n)
print("ROLL_NO="+r)
print("MARK="+m)

ENTER YOUR NAME:Anisha
ENTER YOUR ROLL_NO21
ENTER YOUR MARK78
NAME=Anisha
ROLL_NO=21
MARK=78

Q2.

In [ ]:
farenheit=float(input("Temperature in farenheit"))
celicius=(farenheit-32)/1.8
print("temperature in celicius=",celicius)

Temperature in farenheit41
temperature in celicius= 5.0

Q3

In [ ]:
a=int(input("Enter a number_1="))
b=int(input("Enter a number_2="))
c=a*b
print("product=",c)

Enter a number_1=5
Enter a number_2=4
product= 20

Q4

In [6]:
string="Learn Python By Developing a Website"
print("Entered String=",string)
add="**"
string=string[:5]+add+string[6:]
string=string[:13]+add+string[14:]
string=string[:29]+add+string[30:]
string=string[:40]+add+string[41:]
print(string)

Entered String= Learn Python By Developing a Website
Learn**Python**By Developing ** Website**

Q5

In [ ]:
r=float(input("Enter the radius="))
area=3.14*r*r
print("area of circle=",area)

Enter the radius=5
area of circle= 78.5

Q6

In [ ]:
list1=[1,2,4,5]
print("LIST=",list1)
n=int(input("Enter the number to be inserted="))
p=int(input("Enter the position to be inserted="))
list1.insert(p,n)
print(list1)

LIST= [1, 2, 4, 5]
Enter the number to be inserted=3
Enter the position to be inserted2
[1, 2, 3, 4, 5]

Q7

In [ ]:
dict={"name":"John",
      "age":5,
      "salary":8000,
      "city":"newyork"
}
print("without change=",dict)
dict["Location"]=dict.pop('city')
print("after key value changed=",dict)

without change= {'name': 'John', 'age': 5, 'salary': 8000, 'city': 'newyork'}
after key value changed= {'name': 'John', 'age': 5, 'salary': 8000, 'Location': 'newyork'}

Q8

In [ ]:
dict1={
    "emp1":{"name":"John","salary":7500},
    "emp2":{"name":"Emma","salary":8000},
    "emp3":{"name":"Brad","salary":500}
}
print("Without Change=",dict1)
dict1["emp3"]["salary"]=8500
print("After Change=",dict1)

Without Change= {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}
After Change= {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

Q9

In [ ]:
tuple1=(10,20,43,54,56,68)
print("First Tuple=",tuple1)
tuple2=tuple1[2:-2]
print("Second Tuple=",tuple2)

First Tuple= (10, 20, 43, 54, 56, 68)
Second Tuple= (43, 54)

Q10

In [ ]:
tuple1=(50,10,60,70,50,83,567,50,81)
print("Tuple=",tuple1)
count=tuple1.count(50)
print("Occurrence of 50 in tuple1 is ",count)

Tuple= (50, 10, 60, 70, 50, 83, 567, 50, 81)
Occurrence of 50 in tuple1 is  3